header {
  min-height: 69px;
  position: fixed;
  display: flex;
  z-index: 10;
  top: 0;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.mainbody {
  margin-top: 70px;
}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-decoration: underline;
  display: flex;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 15px;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  background-color: black;
  width: 100%;
}

#middle {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 700px;
  padding-top: 70px;
  padding-bottom: 10px;
}

.teas {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.product {
  display: block;
  padding: 5px;
}

.product img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.product h4 {
  margin: 0px;
  padding: 5px;
}

#cafe {
  background-image: url("../images/img-locations-background.jpg");
  min-height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding-top: 70px;
}

.heading {
  display: block;
  padding-bottom: 15px;
}

.addresses {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 400px;
  justify-content: center;
}

.location {
  width: 300px;
  opacity: 1;
  background-color: black;
  padding: 10px;
  margin: 20px;
}

.location h3 {
  padding: 10px;
  margin: 0px;
}

.location p {
  margin: 22px 0px;
}

.footer {
  height: 200px;
  display: block;
}

.footer h2 {
  padding: 30px 10px 10px 10px;
  margin: 0;
}

.footer h5 {
  margin-top: 30.494px;
  margin-bottom: 30.494px;
}

#copyright {
  padding-left: 10px;
  display: block;
  text-align: left;
}

/*-- Fonts --*/

body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
  font-size: 22px;
}

/* unvisited link */
a:link {
    color: seashell;
}

/* visited link */
a:visited {
    color: seashell;
}
